
yzp-tab ul{
	list-style:none;
	margin: 0;
	padding: 0;
	background-color: rgb(200,200,200);
	height: 30px;
	line-height: 30px;
}

yzp-tab ul li{
	display:inline;
	margin: 0;
	padding: 5px 10px;
	color: white;
	cursor: pointer;
}

yzp-tab ul li:hover{
	background-color: rgb(100,100,100);
}

yzp-tab iframe{
	border: none;
	width: 100%;
	height: 500px;
}

.active{
	background-color: rgb(100,100,100);
}
